docs/future/n8n-gdrive-rag-workflow.json
{
  "name": "Google Drive RAG Pipeline",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "fileId",
              "value": "=PASTE_YOUR_TEST_FILE_ID_HERE"
            },
            {
              "name": "folder",
              "value": "blogs"
            }
          ]
        },
        "options": {}
      },
      "id": "set-test-file",
      "name": "Set Test File",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "download",
        "fileId": "={{ $json.fileId }}",
        "options": {}
      },
      "id": "download-file",
      "name": "Download from Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [650, 300],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_GDRIVE_CREDENTIAL_ID",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1/models/gemini-2.5-flash:generateContent?key={{ $env.GEMINI_API_KEY }}",
        "authentication": "none",
        "sendBody": true,
        "contentType": "application/json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "contents",
              "value": "=[{\"parts\":[{\"inlineData\":{\"data\":\"{{ $binary.data.toString('base64') }}\",\"mimeType\":\"{{ $binary.mimeType }}\"}},{\"text\":\"Extract all text content from this document. Preserve the structure and formatting. Return as clean markdown without any preamble or commentary. Do not include phrases like 'Here is' or 'The text is'.\"}]}]"
            }
          ]
        },
        "options": {
          "timeout": 120000
        }
      },
      "id": "gemini-extract",
      "name": "Gemini Extract Text",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extract text from Gemini response\nconst geminiResponse = $input.item.json;\nconst markdown = geminiResponse.candidates[0].content.parts[0].text;\nconst fileId = $('Set Test File').item.json.fileId;\nconst folder = $('Set Test File').item.json.folder;\n\n// Chunking parameters\nconst CHUNK_SIZE = 1000;\nconst CHUNK_OVERLAP = 200;\n\n// Simple chunking by paragraphs\nfunction chunkText(text, chunkSize, overlap) {\n  const chunks = [];\n  const paragraphs = text.split('\\n\\n');\n\n  let currentChunk = '';\n  let chunkIndex = 0;\n\n  for (const para of paragraphs) {\n    if ((currentChunk + para).length > chunkSize && currentChunk.length > 0) {\n      // Save current chunk\n      chunks.push({\n        text: currentChunk.trim(),\n        index: chunkIndex++,\n        id: `gdrive#${folder}#${fileId}#chunk${chunkIndex}`\n      });\n\n      // Start new chunk with overlap (last N chars)\n      currentChunk = currentChunk.slice(-overlap) + '\\n\\n' + para;\n    } else {\n      currentChunk += (currentChunk ? '\\n\\n' : '') + para;\n    }\n  }\n\n  // Add final chunk\n  if (currentChunk.trim()) {\n    chunks.push({\n      text: currentChunk.trim(),\n      index: chunkIndex,\n      id: `gdrive#${folder}#${fileId}#chunk${chunkIndex}`\n    });\n  }\n\n  return chunks;\n}\n\nconst chunks = chunkText(markdown, CHUNK_SIZE, CHUNK_OVERLAP);\n\n// Return array of chunks\nreturn chunks.map(chunk => ({\n  json: {\n    id: chunk.id,\n    text: chunk.text,\n    chunkIndex: chunk.index,\n    totalChunks: chunks.length,\n    fileId: fileId,\n    folder: folder\n  }\n}));"
      },
      "id": "chunk-text",
      "name": "Chunk Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "create",
        "model": "text-embedding-3-small",
        "text": "={{ $json.text }}",
        "options": {
          "dimensions": 1536
        }
      },
      "id": "generate-embeddings",
      "name": "Generate Embeddings",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [1250, 300],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "operation": "load",
        "pineconeIndex": {
          "__rl": true,
          "value": "={{ $env.PINECONE_INDEX_NAME }}",
          "mode": "name"
        },
        "options": {},
        "vectorsToLoad": "={{ [{id: $json.id, values: $json.data, metadata: {source_type: 'gdrive_' + $json.folder, gdrive_id: $json.fileId, folder: $json.folder, text: $json.text, chunk_index: $json.chunkIndex, total_chunks: $json.totalChunks, last_modified: new Date().toISOString(), vectorType: 'gdrive'}}] }}"
      },
      "id": "upsert-pinecone",
      "name": "Upsert to Pinecone",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [1450, 300],
      "credentials": {
        "pineconeApi": {
          "id": "YOUR_PINECONE_CREDENTIAL_ID",
          "name": "Pinecone account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Log Success\nconst totalChunks = $input.all().length;\nconst fileId = $input.first().json.fileId;\nconst folder = $input.first().json.folder;\n\nconsole.log(`✅ Successfully processed file: ${fileId}`);\nconsole.log(`📊 Folder: ${folder}`);\nconsole.log(`📊 Total chunks created: ${totalChunks}`);\n\nreturn [{\n  json: {\n    success: true,\n    fileId: fileId,\n    folder: folder,\n    chunksCreated: totalChunks,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "log-result",
      "name": "Log Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1650, 300]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Test File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Test File": {
      "main": [
        [
          {
            "node": "Download from Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download from Google Drive": {
      "main": [
        [
          {
            "node": "Gemini Extract Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Extract Text": {
      "main": [
        [
          {
            "node": "Chunk Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chunk Text": {
      "main": [
        [
          {
            "node": "Generate Embeddings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Embeddings": {
      "main": [
        [
          {
            "node": "Upsert to Pinecone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert to Pinecone": {
      "main": [
        [
          {
            "node": "Log Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {}
}
